<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda cds</title>
  </head>
  <body
    class="bg-gradient-to-br from-teal-100 via-teal-300 to-teal-500 flex flex-col min-h-screen justify-between"
  >
    <header
      id="header"
      class="z-10 bg-[#0f172a] header sticky top-0 text-white shadow-md grid grid-rows-1 grid-cols-3 px-[4rem] py-02"
    >
      <!-- logo -->
      <div class="w-3/10 ml-20">
        <img
          class="inline-block"
          src="server/imagenes/logo.png"
          width="100"
          height="100"
        />
      </div>

      <!-- navigation -->
      <nav class="nav font-semibold text-xl justify-self-center self-center">
        <ul class="flex items-center">
          <li
            class="p-4 border-b-2 border-teal-500 border-opacity-0 hover:border-opacity-100 hover:text-teal-500 duration-200 cursor-pointer active"
          >
            <a href="#" routerLink="/listado">VER CDS</a>
          </li>
          <li
            class="p-4 border-b-2 border-teal-500 border-opacity-0 hover:border-opacity-100 hover:text-teal-500 duration-200 cursor-pointer active"
          >
            <a href="#" routerLink="/carrito">VER CARRITO</a>
          </li>
        </ul>
      </nav>

      <div class="flex justify-end">
        <!-- <div class="flex items-center">
          <a href="?lang=es" class="hover:text-teal-500 mr-2">
            <img
              class="inline-block mr-1"
              src="server/imagenes/esp.png"
              width="25"
              height="25"
            />ES
          </a>
          <br />
          <a href="?lang=en" class="hover:text-teal-500 mr-2">
            <img
              class="inline-block mr-1"
              src="server/imagenes/en.png"
              width="25"
              height="25"
            />EN
          </a>
          <a href="?lang=it" class="hover:text-teal-500 mr-5">
            <img
              class="inline-block mr-1"
              src="server/imagenes//italia.png"
              width="25"
              height="25"
            />IT</a
          >
        </div> -->
        <ul class="flex items-center text-lg">
          <li
            id="login"
            class="p-4 border-b-2 border-teal-500 border-opacity-0 hover:border-opacity-100 hover:text-teal-500 duration-200 cursor-pointer"
          >
            <a href="http://localhost/tienda_cdsOnline_angular/admin/"
              >Acceso a administración</a
            >
            &nbsp;&nbsp;&nbsp;
          </li>
        </ul>
      </div>
    </header>
    <br />
    <br />
    <div>
      <router-outlet> </router-outlet>
    </div>
    <footer
      class="mt-24 p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900"
    >
      <div class="sm:flex sm:items-center sm:justify-center">
        <a href="#" class="flex items-center mb-4 sm:mb-0">
          <img
            class="inline-block"
            src="server/imagenes/logo.png"
            width="100"
            height="1000"
          />
        </a>
        <!--  <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
          </li>
          <li>
              <a href="#" class="hover:underline">Contact</a>
          </li>
      </ul>-->
      </div>
      <hr
        class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
      />
      <span
        class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >2022 Musicalia. All Rights Reserved.
      </span>
    </footer>
  </body>
</html>
